<!DOCTYPE html>
<html>
  <head>
    <title>Taucherkarten</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css"/>
    <link rel="stylesheet" href="/static/lakes/main.css"/>
    <!-- for later :) <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>-->
  </head>
</html>
<body>
  <header>
    <h1><a id="title" href="/">Taucherkarten</a></h1>
  </header>
  <!--
  <nav>
    <a href="/tauchen.html">Tauchen</a>
  </nav>
-->
  <article>
    <div id="article-nav">
      {% for districtName , lakes in lakesByDistrict %}
        <bold>{{ districtName }}</bold>
        <ul>
          {% for lake in lakes %}
          <li><a href="{% url 'lakeBySlug' lake.slug %}">{{ lake.name }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    <div id="article-title">
      <h2>
      {% block title %}
      {% endblock %}
      </h2>
    </div>
    <div id="article-content">
      {% block content %}
      {% endblock %}
    </div>
  </article>
  <footer><a href="/impressum.html">Impressum</a></footer>
</body>