<!DOCTYPE html>
<html>
  <head>
    <title>Daniel Merz</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css"/>
    <link rel="stylesheet" href="/main.css"/>
  </head>
</html>
<body>
  <header>
    <h1>Taucherkarten</h1>
  </header>
  <nav>
    <!-- a(href='coding.html') Coding--><a href="/tauchen.html">Tauchen</a><a href="/feuer-show.html">Feuershow</a>
  </nav>
  <article>
    <div id="article-nav">
      <bold>Bayrische Seen</bold>
      <ul>
        <li><a href="/tauchen/echinger-weiher.html">Echinger Weiher</a></li>
        <li><a href="/tauchen/langenwieder-see.html">Langenwieder See</a></li>
        <li><a href="/tauchen/starnberger-see.html">Starnbergersee</a></li>
      </ul>
    </div>
    <div id="article-title">
      <h2>
      {% block title %}
      {% endblock %}
      </h2>
    </div>
    <div id="article-content">
      {% block content %}
      {% endblock %}
    </div>
  </article>
  <footer><a href="/impressum.html">Impressum</a></footer>
</body>