{% extends "lakes/base.html" %}

{% block title %}
Servus!
{% endblock %}

{% block content %}

<p>
    Nachdem ich bisher mit einigen vergeblichen Anläufen noch keine Taucherkarten
    finden konnte und ich diese Situation als Informatiker nicht gutheißen kann:
</p>
<p>
    <b>Willkommen auf Taucherkarten.de!</b>
</p>

<p>
    Hier ist in Ort um selbsterstellte Unterwasserkarten hochzuladen um sie anderen
    Taucher zur Verfügung zu stellen.
    Zusätzlich findet ihr hier Links zu den offiziellen Webseiten der Tauchseen.
</p>

<p>
    Momentan habe ich noch keine Useraccounts implementiert. Um Infos
    und Karten zu aktualisieren/hochzuladen schickt sie mir für den Moment
    bitte persönlich (Whatsapp).
    Das gleiche gilt für Anfragen von zusätzlichen Features.
</p>

<p>
    Mein Tauchclub:
</p>
    <img src="/static/lakes/pics/divesport-logo.jpg" style="width: 148px; height: 148px;"/>
    <a href="http://www.divesport.de/">Divesport.de</a>
{% endblock %}
