{% extends "lakes/base.html" %}

{% block title %}
Servus!
{% endblock %}

{% block content %}

<p>
    Nachdem ich bisher mit einigen vergeblichen Anläufen noch keine Taucherkarten
    finden konnte und ich diese Situation als Informatiker nicht gutheißen kann:
    <b>Willkommen auf Taucherkarten.de!</b>
</p>

<p>
    Hier ist der Ort um selbsterstellte Unterwasserkarten hochzuladen um sie anderen
    Taucher zur Verfügung zu stellen.
</p>

<p>
    Mein Tauchclub:
</p>
    <img src="/pics/divesport-logo.jpg" style="width: 148px; height: 148px;"/>
    <a href="http://www.divesport.de/">Divesport.de</a>
{% endblock %}
