{% extends "lakes/base.html" %}

{% block title %}
{{ lake.name }}
{% endblock %}

{% block content %}
{% if lake.url %}
<a href="{{ lake.url }}">Offizielle Seite</a>
{% endif %}
{% if divespotCount == 0 %}
    <p>Bisher keine Einstiege gespeichert</p>
{% elif divespotCount == 1 %}
    <p>Single spot info</p>
{% else %}
    {% for divespot in divespots %}
        <h3>{{ divespot.name }}</h3>
        <p>Some nice information</p>
        <!-- Cannot access maps normally in this template lng -->
        {% for spotId, maps in divemapsByDivespot %}
        {% if spotId == divespot.pk %}
        {% for map in maps%}
        <img src="{{ MEDIA_URL }}{{ map.image }}" width="100%"/>
        {% endfor %}
        {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock %}
