{% extends "lakes/base.html" %}

{% block title %}
{{ lake.name }}
{% endblock %}

{% block content %}
{% if lake.description %}
<p>{{ lake.description }}</p>
{% endif %}
{% if lake.url %}
<a href="{{ lake.url }}">Offizielle Webseite</a>
{% endif %}
{% if divespotCount == 0 %}
    <p>Bisher keine Einstiege gespeichert</p>
{% else %}
    {% for divespot in divespots %}
        {% if divespotCount > 1 %}
        <h3>{{ divespot.name }}</h3>
        {% endif %}
        {% if divespot.maps_url %}
        <a href="{{ divespot.maps_url }}">Karte</a>
        {% endif %}

        <!-- Cannot access maps normally in this template lng -->
        {% for spotId, maps in divemapsByDivespot %}
        {% if spotId == divespot.pk %}
        {% for map in maps%}
        <div id="divespot__map">
        <img src="{{ MEDIA_URL }}{{ map.image }}" width="100%"/>
        <a href="{{ MEDIA_URL }}{{ map.image }}">Bigger image</a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock %}
